.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header-logo-margin {
  margin-right: 93px;
}
.header-logo {
  color: var(--accent-color);
}
.header-logo-second {
  color: var(--header-logo-color);
}
